<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.component.fx.plugin_test">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/test_ic_launcher"
        android:name=".TestNotificationApp"
        android:label="@string/test_app_name"
        android:roundIcon="@mipmap/test_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/test_AppTheme">
        <activity android:name=".test_activity.TestPluginMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".test_activity.TestNotificationActivity" />

        <activity
            android:name=".test_activity.TestReceiveActivity"
            android:parentActivityName=".test_activity.TestPluginMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".test_activity.TestPluginMainActivity" />
        </activity>
        <activity android:name=".test_activity.TestWindowNotifyActivity" />

        <service android:name="TestWindowService" />
        <activity android:name=".test_activity.TestProgressActivity"/>
        <activity android:name=".test_activity.TextRxJavaActivity"/>
        <activity android:name=".test_activity.TestImageViewerActivity"/>
        <activity android:name=".test_activity.TestRecycleViewActivity" />
    </application>

</manifest>