<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.component.fx.plugin_toutiao">

    <application
        android:allowBackup="true"
        android:icon="@drawable/toutiao_ic_title"
        android:label="@string/toutiao_app_name"
        android:name=".TouTiaoApplication"
        android:roundIcon="@mipmap/toutiao_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base_DayNight_Theme.No_Title">
        <activity android:name=".PluginTouTiaoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>