<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.component.fx.plugin_news">

    <application>

        <activity
            android:name=".PluginNewMainActivity"
            android:theme="@style/Base_No_Title.Translucent" />

    </application>

</manifest>